body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25vw;
  font-weight: 400;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 10%;
}

#interestblock {
  font-weight: 300;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

#innerblock {
  display: inline-block;
  text-align: left;
}

#tidbits {
  padding-top: 5%;
  padding-bottom: 5%;
}

.icon {
  height: 1.25vw;
  padding-right: 3%;
}

#aboutme {
  font-size: 1.5vw;
  font-weight: 400;
  text-align: left;
  margin-left: 30%;
}

#profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 5%;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  font-size: 1.25vw;
  font-weight: 400;
}

.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
}
.main-nav li {
  display: inline-block;
  padding: 0.5em 1.5em;
}

#work:hover,
#about:hover,
.row:hover {
  cursor: pointer;
}
