body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  align-items: center;
  padding: 100px;
  background-color: #fffff0;
}

.avatar {
  border-radius: 200px;
  box-sizing: border-box;
  background-color: #ddd;
  border: 5px solid #cfd8dc;
}

img {
  height: 200px;
  width: 200px;
}

p {
  margin: 0px 200px 200px;
}
