body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 15%;
}

p {
  font-weight: 300;
  font-size: 1.2vw;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
}

h1 {
  font-size: 3vw;
  margin-left: 25%;
  margin-top: 6%;
}

h2 {
  margin-left: 25%;
  margin-top: 4%;
  font-size: 2vw;
}

img {
  display: block;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

video {
  margin-top: 4%;
  display: block;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  font-size: 1.25vw;
  font-weight: 400;
}

.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
}
.main-nav li {
  display: inline-block;
  padding: 0.5em 1.5em;
}

#work:hover,
#about:hover,
.row:hover {
  cursor: pointer;
}
